.container.login{
    border: 2px solid black;
    /* background-color: #007bff; */
    border-radius: 12px;
    width: 450px;
    height: 440px;
    justify-content: center;
    margin-top: 35px;
    padding: 15px;
}
.login {
    /* margin-left: 40%; */
    justify-content: center;
    /* align-items: center; */
}
